.MovieCard {
    .container {
        width: 100%;
        height: 100%;

        border-radius: 1vmin;
        padding: 1vmin;


        background-size: cover;
        background-repeat: no-repeat;

        box-shadow: 2px 2px 8px 0 rgba(80, 80, 80, 0.22);


        .info-card {
            background: rgba(243, 243, 243, 0.97);
            padding: .8vmin;
            border-radius: 1vmin;

            text-align: center;
            height: 8vmin;

            .title {
                padding: 0 0 1vmin 0;
                margin: 0;
            }

            .released {
                padding: 0;
                margin: 0;

                font-weight: 500;
            }
        }
    }
}