.NavBar {
    position: relative;
    padding: 4vmin;
    display: flex;
    column-gap: 4vmin;
    width: 100%;

    a {
        font-size: 2.4vmin;
        text-decoration: none;
        color: #151515;
    }

    .user-greeting {
        position: absolute;
        color: #a1a1a1;
        top: 4vmin;
        right: 8vmin;
    }
}